.Nav{
  display: block;
  background-color: black;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  padding-left: 20px; /* Add some padding to move items to the right */
}

.Nav li {
  display: inline-block;
  margin: 20px;
  color: white;
}

.Nav li:hover {
  background-color: yellow; /* Change background color on hover */
}


ul {
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  padding: 0; /* Remove padding */
}

.active{
  
  display: inline-block;
  margin: 20px;
  color: white;
  
}
.active:hover{
  background-color: rgb(208, 208, 77);
}
.column {
  display: inline;
  width: 30%;
  margin: 5px;
}


.image{
  width: 100px;
  height: auto;
}
