.Nav{
  display: block;
  background-color: black;
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  padding-left: 20px; /* Add some padding to move items to the right */
}

.Nav li {
  display: inline-block;
  margin: 20px;
  color: white;
}

.Nav li:hover {
  background-color: yellow; /* Change background color on hover */
}


ul {
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  padding: 0; /* Remove padding */
}

.active{
  
  display: inline-block;
  margin: 20px;
  color: white;
  
}
.active:hover{
  background-color: rgb(208, 208, 77);
}
.column {
  display: inline;
  width: 30%;
  margin: 5px;
  background-color: rgb(159, 159, 159);
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.column {
  flex: 1 0 30%; /* grow | shrink | basis */
  margin: 1em; 
  text-align: center;
  
}
.Button{
  width: 100%;
  background-color: rgb(19, 19, 56);
  color: white;
  height: 20px;
}
.Image{
  width: 100%;
  height: auto; /* maintain aspect ratio */
}
.card p:last-child {
  margin-bottom: 0;
}
.Footer{
  text-align: center;
  background-color: rgb(150, 150, 61);
  color: white;
}